nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  background-color: darkgreen;
  color: aliceblue;
}
ul {
  list-style: none;
  display: grid;
  grid-template-columns: 3fr 3fr 3fr 3fr;
  justify-content: space-between;
  align-items: center;
}
a {
  color: white;
}
